<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Account Service Statistics</title>
</head>
<body>
<div id="main" style="display: flex">
    <div style="padding: 5px; text-align: center">
        <h3>GetAmount Requests</h3>
        <table style="border: 2px double dimgray;">
            <thead style="background-color: aliceblue">
            <tr>
                <td style="border: 1px solid darkgray">Start timestamp</td>
                <td style="border: 1px solid darkgray">End timestamp</td>
                <td style="border: 1px solid darkgray">Requests</td>
                <td style="border: 1px solid darkgray">Total</td>
            </tr>
            </thead>
            <tbody id="getBody">
            <tr th:each="g, iter : ${getStats}">
                <td style="border: 1px solid darkgray"><span th:text="${g.start}"/></td>
                <td style="border: 1px solid darkgray"><span th:text="${g.end}"/></td>
                <td style="border: 1px solid darkgray"><span th:text="${g.requestsAmount}"/></td>
                <td style="border: 1px solid darkgray"><span th:text="${g.totalRequests}"/></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="padding: 5px; text-align: center">
        <h3>AddAmount Requests</h3>
        <table style="border: 2px double dimgray;">
            <thead style="background-color: aliceblue">
            <tr>
                <td style="border: 1px solid darkgray">Start timestamp</td>
                <td style="border: 1px solid darkgray">End timestamp</td>
                <td style="border: 1px solid darkgray">Requests</td>
                <td style="border: 1px solid darkgray">Total</td>
            </tr>
            </thead>
            <tbody id="addBody">
            <tr th:each="g, iter : ${addStats}">
                <td style="border: 1px solid darkgray"><span th:text="${g.start}"/></td>
                <td style="border: 1px solid darkgray"><span th:text="${g.end}"/></td>
                <td style="border: 1px solid darkgray"><span th:text="${g.requestsAmount}"/></td>
                <td style="border: 1px solid darkgray"><span th:text="${g.totalRequests}"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br/>
<br/>
<div style="padding: 10px;">
    <button onclick="reset()">Evict statistics</button>
    <button onclick="exportCsv(event)">Export</button>
</div>

<script>
    function reset() {
        var location = window.location.toString();
        var index = location.lastIndexOf("/");
        var url = new URL(location.substring(0, index) + '/reset');
        fetch(url, {method: 'POST'}).then(function (response) {
            if (response.status === 200) {
                document.getElementById("main").innerText = "Database has been evicted. Reload the page."
            }
        })
    }


    const exportCsv = function ($event) {
        $event.preventDefault();
        let table = document.getElementById("getBody");
        let csv = [];
        let rows = table.querySelectorAll("tr");

        for (let i = 0; i < rows.length; i++) {

            let row = [], cols = rows[i].querySelectorAll("td");
            // if (i === 1) row.push(" ");

            for (let j = 0; j < cols.length; j++) {

                row.push(cols[j].innerText);

                // if (Number(cols[j].getAttribute("colspan")) > 1) {
                //     for (let k = 1; k < Number(cols[j].getAttribute("colspan")); k++) {
                //         row.push(" ");
                //     }
                // }
                // if (Number(cols[j].getAttribute("rowspan")) > 1) {
                // }
            }

            // if (i === 1) row.push(" ");
            csv.push(row.join(";"));   // used ',' by default or '\t' for just for
        }
        csv = csv.join("\n");

        // return (window.open('data:text/csv;charset=utf-8,' + csv));

        let csvFile = new Blob([csv], {type: "text/csv"});
        let downloadLink = document.createElement("a");
        downloadLink.download = "stats.csv";
        downloadLink.href = window.URL.createObjectURL(csvFile);
        downloadLink.style.display = "none";
        // document.body.appendChild(downloadLink);
        downloadLink.click();
    };
</script>

</body>
</html>
